
html {
    height: 100%;
}

body {
    background-color: #f3f2ef;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, body > section {
    flex: 1;
}

header > div {
    padding: 5px;
}

#content {
    flex: 4;
    display: flex;
    flex-direction: row;
}

#side-menu {
    flex: 1; 
    padding: 5px;
}

#main {
    flex: 4;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: #f5f5f5;
}

footer a {
    color: #f3f2ef;
    padding: 0 10px;
    text-decoration: none;
}

.page{
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0,.15), 0 2px 3px rgba(0, 0, 0.2);
    transition: box-shdow 83ms;
    margin: 16px 0;
    padding: 24px;
    border-radius: 4px;
}

.page h2 {
    margin: 0;
}

#job{
    color: rgb(60, 124, 103); text-align: right;
}

#top-menu-bar {
    color: #500;
    text-align: center;
    background-color: #334455;
}

#top-menu-bar li{
    display: inline;
    margin: 0;
    padding: 0;
}

#top-menu-bar a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: #fff;
}

#top-menu-bar a:visited {
    color: #fff;
}

#top-menu-bar a:hover {
    color: #334455;
    background-color: #fff;
}

li {
    color: cadetblue;
}

.favorite {
    
    font-style: italic;
    background-color: beige;
    color: blueviolet;
}

